<div class="d-flex flex-column ">
    <div class="mt-2">
           <span class="mx-1">Логин</span>
           <input type="text" pInputText [ngClass]="{'input-error': !login}" [(ngModel)]="login" />
    </div>

    <div class="mt-2">
           <span class="mx-1">Пароль</span>
           <input type="text" pInputText [ngClass]="{'input-error': !password}" [(ngModel)]="password" />
    </div>

    <div>
           <button type="button" (click)="onAuth($event)" class='my-3 btn btn-primary'>Войти</button>
    </div>
</div>